* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* Primary Colors */ 
    --Bright-orange: hsl(31, 77%, 52%); 
    --Dark-cyan: hsl(184, 100%, 22%);
    --Very-dark-cyan: hsl(179, 100%, 13%);
    
     /* Neutral Colors */
    --Transparent-white: hsla(0, 0%, 100%, 0.75); 
    --Very-light-gray: hsl(0, 0%, 95%); 
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--Very-light-gray);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container {
    width: 65vw;
    margin-top: 14rem;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
}

.card img {
    width: 50px;
    color: var(--Transparent-white);
    margin-bottom: 2rem;
}

.card h2 {
    font: 700 40px 'Big Shoulders Display', cursive;
    color: var(--Very-light-gray);
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.card p {
    font: 400 15px 'Lexend Deca', sans-serif;
    color: var(--Transparent-white);
    margin-bottom: 4rem;
    line-height: 1.5rem;
}

.card:first-child {
    background-color: var(--Bright-orange);
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.card:nth-child(2) {
    background-color: var(--Dark-cyan);
}

.card:last-child {
    background-color: var(--Very-dark-cyan);
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.button {
    font: 400 15px 'Lexend Deca', sans-serif;
    background-color: var(--Very-light-gray);
    width: 150px;
    padding: 0.8rem 1.3rem;
    border: 3px solid transparent;
    border-radius: 30px;
}

.button.first {
    color: var(--Bright-orange);
}

.button.first:hover {
    background-color: var(--Bright-orange);
    border: 3px solid var(--Very-light-gray);
    color: var(--Very-light-gray);
    cursor: pointer;
}

.button.second {
    color: var(--Dark-cyan);
}

.button.second:hover {
    background-color: var(--Dark-cyan);
    border: 3px solid var(--Very-light-gray);
    color: var(--Very-light-gray);
    cursor: pointer;
}

.button.last {
    color: var(--Very-dark-cyan);
}

.button.last:hover {
    background-color: var(--Very-dark-cyan);
    border: 3px solid var(--Very-light-gray);
    color: var(--Very-light-gray);
    cursor: pointer;
}

footer {
    width: 100vw;
    height: 50px;
    background-color: var(--Dark-cyan);
    display: flex;
    justify-content: center;
    align-items: center;
}

.attribution { 
    font: 400 11px 'Lexend Deca', sans-serif;
    color: var(--Transparent-white);
    text-align: center; 
}

.attribution a { 
    color: var(--Very-light-gray);
    text-decoration: none;
}

.attribution a:hover {
    text-decoration: underline;
}

@media (max-width:375px) {
    .container {
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
        flex-direction: column;
        justify-content: space-between;
    }
    .card {
        padding: 2.1rem;
    }
    .card img {
        width: 40px;
        margin-bottom: 1.5rem;
    }
    .card h2 {
        font-size: 28px;
        letter-spacing: 1.1px;
        font-weight: 400;
        margin-bottom: 1rem;
    }
    .card p {
        font-size: 10px;
        margin-bottom: 1.1rem;
        line-height: 1.1rem;
    }
    .card:first-child {
        border-top-right-radius: 5px;
        border-bottom-left-radius: 0;
    }
    .card:last-child {
        border-bottom-left-radius: 5px;
        border-top-right-radius: 0;
    }
    .button {
        font-size: 11px;
        padding: 0.5rem 0.9rem;
        width: 65%;
    }
}